
* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 150px;
  
}

/* Header */
header {
  padding: 10px;
  text-align: left;
  background: white;
  color: seagreen;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 95vw;
  margin-left: 0;
}

.main {
  flex: 1;
  background: lightgray;
}

h1{
  font-size: 50px;
  font-family: monospace;
}


/* Main column */
.main {
  flex: 7;
  background-color: lightgray;
}
.main-content{
  padding: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}

.title-bar {
      height: 28px;
      background: seagreen;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6px;
      font-size: 12px;
      font-weight: bold;
  }

  /* WINDOW CONTROL BUTTONS */
  .window-controls span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-left: 4px;
      text-align: center;
      line-height: 16px;
      background: lightgray;
      color: black;
      font-size: 12px;
      border: 1px solid #fff; }

img {

  height: 500px;
  width: 400px ;
  padding: 20px;
}


details {
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 0;
    background-color: lightgray;
    box-shadow: 4px 4px 0px black;
}

summary {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    font-family: monospace;
    background: seagreen;
    color: white;
    padding: 8px 12px;
    border-bottom: 2px solid black;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "[+] ";
}

details[open] summary::before {
    content: "[-] ";
}

details p {
    padding: 15px;
    margin: 0;
    background-color: #d3d3d3;
    line-height: 1.6;
    font-size: 14px;
}