body {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 120%;
	background-image: none;
}

	html, body {
		    height: 100%;
		    margin: 0;
		    background-image: none;
		}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}



a:link, a:visited {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
}

a:hover {
	color: #aaa;
	transition: 0.5s;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
}

header {
	margin-top: 40px;
	font-size: 40px;
	font-family: Arial, sans-serif;
	font-weight: bold;

}
	


main {
	padding: 20px;
	float: left;
	width: 1000px;
}

main > p { text-align: justify; }

h1 { line-height: 100%; }

/* COMMON LIST STYLES */

.standalone { padding-left: 15px; }

.standalone > li + li { margin-top: 10px; }

.sublist { font-size: 10pt; }

/* PROJECTS SEGMENT */ 

.skill {
    list-style: none;
    padding-left: 0;
}

.skill li {
	padding: 4px;
	font-size: 8pt;
	display: inline;
	margin-bottom: 2px;
	cursor: default;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #000;
}

.skill > .language { background: #000; 	color: #fff; }

.projlink { float: right; font-weight: 600; font-size: 8pt; text-transform: uppercase; }

.projlink > a:link, .projlink > a:visited { border: none; }

/* Use a media query to add a break point at 750px: */
@media screen and (max-width: 750px) {
main { width: 90%; }

