* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 40px;
  min-height: 100vh;
}

/* Header */
header {
  padding: 10px;
  text-align: left;
  background: white;
  color: seagreen;
}

h1{
  font-size: 50px;
}


/* Three equal columns */
.row {
  display: flex;
  min-height: calc(100vh - 80px); /* fills the remaining page */
}

.column {
  flex: 1;
  padding: 10px;
}

li{
  font-size: 14px;
  color: seagreen;}

a {
  color: steelblue;
}