/* start light mode styling */
	:root {
		--text: darkslategrey;
		--border: lightgrey;
		--accent: teal;
		--bg: #dce3e1;
		--gradientTop: white;
		--gradientBottom: rgb(240, 248, 255, .8);
	}
	/*header {
		background: url('');
	}*/
/* end light mode styling */


/* start dark mode styling */
	@media (prefers-color-scheme: dark) {
		:root {
			--text: white;
			--border: #5a7678;
			--accent: #74C365;
			--bg: rgb(0,60,60,.8);
			--gradientBottom: rgb(0, 50, 60);
			--gradientTop: darkslategrey;
			a:link { color: lightblue; }
		}
		/*header {
			background: url('');
		}*/
	}
/* end dark mode styling */


* { 
	box-sizing: border-box;
}
body {
	padding: 10px;
	font-family: 'MS PGothic', sans-serif;
	color: var(--text);
}


.container {
	max-width: 55rem;
	margin: 5vw auto 12px auto;
	border: 6px ridge var(--border);
	outline: 3px solid var(--gradientTop);
	outline-offset: 4px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	gap: 5px;

	/* container background pattern */
	background-color: var(--gradientBottom);
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--gradientBottom) 9px ), repeating-linear-gradient( var(--bg), var(--bg));
}
/* these control the column widths */
.small { flex: 1 1 9%; }
.large { flex: 1 1 82%; }
.full { flex: 1 1 100%; }
.half { flex: 1 1 49%; }


header {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px; /* change banner height here*/
	border: 2px ridge var(--border);
	border-radius: 5px;
	position: relative;
}
header span {
	font-size: 2.5rem;
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 10px;
	font-weight: bold;
	text-shadow: 1px 1px var(--text),
		-1px 1px var(--text),
		1px -1px var(--accent),
		-1px -1px var(--accent);
	color: var(--gradientTop);
}


nav {
	border: 2px ridge var(--border);
	border-radius: 5px;
	padding: 5px;
	background: linear-gradient(var(--gradientTop),var(--gradientBottom));
}
nav div {
	text-align: center;
	font-size: 1.25rem;
	margin: 5px 5px 10px 5px;
}
nav a {
	display: block;
	margin: 5px;
	background: linear-gradient(to right,var(--bg),var(--gradientBottom));
	border-radius: 5px;
	padding: 2px 7px;
	text-decoration: none;
}
nav a:link, nav a:visited { 
	color: var(--text);
}
nav a:hover, nav a:focus {
	background: linear-gradient(to right,var(--bg), var(--gradientBottom), var(--gradientTop));
}

/* optional button styling like in the preview */
div.small > img {
	display: block;
	margin: 5px auto;
	border:2px ridge var(--border);
	border-radius: 5px;
}


section {
	border: 2px ridge var(--border);
	border-radius: 5px;
	background: linear-gradient(var(--gradientTop),var(--gradientBottom));
	padding: 5px;
}


footer {
	text-align: center;
	margin-bottom: 5vw;
	font-size: 0.8rem;
}
footer a { 
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p  { 
	margin: 5px;
	line-height: 1.2;
}
h1 { 
	font-size: 1.4rem;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px ridge var(--border);
	padding-bottom: 5px;
}
h2 { 
	font-size: 1.25rem;
	font-weight: normal;
	text-align: center;
}
h3 { 
	font-size: 1.1rem;
}
h4 { 
	font-size: 1rem;
	color: var(--accent);
	padding-left: 12px;
}

/* prevents overflow on smaller screens */
img { max-width: 100%; }
pre { overflow-x: auto; }


a:hover, a:focus {
	font-style: italic;
}
a:visited {
	color: var(--accent);
}

/*@font-face {
  font-family: "Cordata"; 
  src: url('fonts/Px437_Cordata_PPC-400.woff2') format('woff2');
}*/

:root { 
	font-size: 18px;
	color-scheme: light dark;
	accent-color: teal;
}

html { overscroll-behavior: none; }

body {
	color: black;
	font-family: "Cordata", monospace;
}

* { 
	image-rendering: pixelated;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-color: cadetblue gainsboro;
}

h3, h2, h1 { font-weight: normal; }

h3 { font-size: 1.25rem; line-height: 1; font-style: italic; }
h2 { font-size: 1.45rem; line-height: 1; text-transform: uppercase; }
h1 { font-size: 2.75rem; line-height: 1; }
		 
p, ol, ul, dl, code, details { font-size: 1rem; line-height: 1.3; }
		 
h1, h2, h3, h4, h5, h6, p, table, details, cite, blockquote, hr {
	margin: 18px 0;
}

ul {
	padding: 0px 10px 0px 20px;
	margin: 0px;
	text-align: left;
	list-style-type: square; 
}

ul, dl {
	margin: 18px 0 18px 18px;
}

ol { margin: 18px 0 18px 54px; }
ol ol { margin: 0 0 0 54px; }

ul ul, dd { 
	margin: 0 0 0 18px;
}

details p { margin: 18px 0 18px 36px; }

summary { cursor: pointer; }


hr {
	border: none;
	border-top: 1px solid;
}

code {
	background-color: white;
	font-family: "Cordata", monospace; 
	font-size: 80%;
	padding: 1px 4px;
}

pre {
	overflow-x: auto;
	padding: 1px 4px;
}

pre:has(code) {
	background: white;
	padding: 0.5rem;
	user-select: all;
	max-width: 100%;
}

table {	border: 1px solid; }
tr, td, th { border: 1px dotted; }
td, th { padding: 5px; }

textarea {
	padding: 2px;
	font-size: 80%;
}

cite { 
	display: block;
	text-align: right;
}

blockquote { border-left: 1px solid; padding-left: 14px; }

details > summary {
    list-style-type: '► ';
}

details[open] > summary {
    list-style-type: '▼ ';
}

a {
	color: #0e72c5;
	padding: 2px 1px 0 1px;
	text-decoration-style: dotted; 
	text-underline-offset: 2px;
}

a[href^='http'] { text-decoration-style: solid; }
a:visited {	color: teal; }

a:hover, a:focus {
	background: white;
	outline: 1px dotted;
	outline-offset: 1px;
}

a:has(img):hover, a:has(img):focus { outline: unset; }
a[href^='http']:hover, a[href^='http']:focus { text-decoration-thickness: 2px; }
a:focus-visible { outline: 2px solid; }
a:active { color: inherit; }

button, input, textarea {	
	font-family: "Cordata", monospace;
}

img, iframe { max-width: 100%; }
	
.new { 
	text-transform: uppercase;
	text-shadow: 0 -1px yellow, 1px 0 yellow, 0 1px yellow, -1px 0 yellow;
}

.border { /* .rope from https://maxbittker.github.io/broider/ */
	border: 7px solid transparent;
	border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAtklEQVQ4T7VV2xHAIAjTzToao3Wz9vigFyMoZ7V/VIghPKzlwFcPYJYG9BJ57JJbpKKNl+uZ2uxvPh+oOpgzBuA/CzIw9jd7CBoBWhZbQJGhl1nH1NOINWXmU00N1EvZ6xBkyhp3mnpFmIEyIbdQrNcW0IwUqUKNnKKpY12X+xQviFqs0VQDcARXOkExhrPvsYp2AxKYjmnUYr8KFbXXMihqHBUIN1dq9nkf8E5Nzf6uV+DIc/ICR9UIJTV+2f0AAAAASUVORK5CYII=") 7 /  7px / 0 round;
	background-color: rgb(255, 255, 255, 90%); 
	padding: 18px 36px;
}

a.border:hover, a.border:focus { 
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAsElEQVQ4T7VVQQ7AIAib/3/0JktqagOiRjnphhVKwfJcsHIB8+lA32q4pFTjPV9u/2yv/u0sFuYAZz7A39jX1uqPfYvUA40AkcURUKQ7DepxpJxq5CmnAPVS9hTCdHEGP9daKHWIJDeqgVsoPZBFqlkuV38kwW1JcdTK6zFQNAFf0KXPXTLDa0TFsPc1Ve3/VKeRRCKJLUuKJRLRsA2qk2h5SkXzcTRTU05PvgBXnpMPNvIIJdPd95YAAAAASUVORK5CYII=") 7 /  7px / 0 round;
	color: white;
	background: cadetblue;
	outline: unset;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

::selection { color: white;	background: cadetblue; }

@media screen and (max-width: 600px){
	
	h1, h2, h3, h4, h5, h6, p, table, details, cite, blockquote, hr {
		margin: 16px 0;
	}
	ul, dl { margin: 16px 0 16px 16px; }
	ol { margin: 16px 0 16px 48px; }
	ol ol { margin: 0 0 0 48px; }
	ul ul, dd { margin: 0 0 0 16px;	}
	details p { margin: 16px 0 16px 32px; }	
	p, ol, ul, dl, details, table, figcaption { font-size: 0.9rem; }
}

@media (prefers-color-scheme: dark) {
	* { scrollbar-color: cadetblue darkslategrey; }
	body { color: #eee; }
	.border { background-color: rgb(0,20,20,77.5%); border-color: darkslategrey; }
	.new, code { color: black; }
	code, textarea, pre:has(code) { color: white; background: darkslategrey; }
	a { color: lightblue; }
	a:visited { color: #b2d7c1; }
	a:hover, a:focus { background: darkslategrey; }
	a.border:hover, a.border:focus { background: darkslategrey; /* border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAtklEQVQ4T7VV2xHAIAjTzToao3Wz9vigFyMoZ7V/VIghPKzlwFcPYJYG9BJ57JJbpKKNl+uZ2uxvPh+oOpgzBuA/CzIw9jd7CBoBWhZbQJGhl1nH1NOINWXmU00N1EvZ6xBkyhp3mnpFmIEyIbdQrNcW0IwUqUKNnKKpY12X+xQviFqs0VQDcARXOkExhrPvsYp2AxKYjmnUYr8KFbXXMihqHBUIN1dq9nkf8E5Nzf6uV+DIc/ICR9UIJTV+2f0AAAAASUVORK5CYII=") 7 /  7px / 0 round; */}
	a:active { color: inherit; }
}
